*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1170px;
    width: 80%;
    margin: auto;
}

header{
text-align: center;
}

h1{
    padding: 1.5rem;
    color: #e53170;
}

header>section{
    padding: 1rem;
}

.col{
    height: 5rem;
    width: calc(80%/3);
    float: left;
    margin: 20px;
    background-color: #0f0f16;
    color: #fefefe;
    box-shadow: 0px 1px 5px #0f0f16;
}

img{
    width: 5rem;
    aspect-ratio: 1/1;
    float: left;
}

.info_person{
    margin-left: 5.5rem;
    padding: 10px 0;
}

h4+div, a{
    font-size: small;
    padding-top: 5px;
}

a{
    color: #33c7e8;
    text-decoration: none;
}

/* utility */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Debug */

/* .debug .col{
    background-color: green;
    border: 1px solid black;
} */
